

body{
    font-family: arial, sans-serif;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    line-height: 24px;
    color: #202124;
    font-size: small;

}

.wrapper {
    margin: auto;
    width: 92%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: space-between;;

}
.row{
    margin: 10px 20px 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    

}


a {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    padding-left: 15px;
}

a:hover {
    text-decoration: underline;

}

.menu {
    display: inline-block;
    background-image: url("/google-homepage/images/google-sprites-menu.png");
    height: 32px;
    width: 32px;
    background-position: -132px -38px;
    opacity: .55;
}

a .menu:hover { 

    opacity: 100%;
}


svg {
    position: absolute;
    padding: 1px;
}
.profile {
    border-radius: 50%;
    border: solid white 5px;
    padding: 0;
}
.left {
    
}

.right {
    display: flex;
    align-items: center;
    
}

.logo {
    text-align: center;
    padding-top: 5%;
    width: auto;
    height: auto;
}

.search-row {
    width: 60%;
    align-self: center;
    margin-top: 20px;
    height: 50px;
    display: flex;


}

.input-row{
    width: 95%;
   margin: auto;
}

input{
    width: 90%;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    padding-left: 2rem;
    margin: auto;
    z-index: 3;
    align-self: center;
    
}

.icon-row {
    width: 95%;
    display: flex;
    justify-content: space-between;;
    position: relative;
    top: -2.2rem;

    flex-basis: | auto;
}
.search-icon {
    
    position: relative;
    top: 0px;
    left: 0px;
    background-image: url("/google-homepage/images/search.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    
}

.mic-icon {
    margin: 0 5px;
    position: relative;
    left: 0px;
    top: 0px;

    background-image: url("/google-homepage/images/microphone.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
